---

---

<label for="upload" class="upload"> Upload Picture </label>
<input
    type="file"
    id="upload"
    name="upload"
    accept="image/*"
    onchange="updateFileName()"
/>
<span id="file-name">no file chosen</span>

<script lang="ts" type="module" src="./dist/scripts/file_upload.js"></script>

<style>
    input[type="file"] {
        display: none;
    }

    label.upload {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #4caf50;
        color: white;
        border-radius: 5px;
        text-align: center;
        transition: background-color 0.3s;
    }
</style>
