---

---

<div id="pictureBar"></div>

<style>
    #pictureBar {
        height: 150px;
        background: grey;
        margin: 2%;
    }

    .pictureBarIMG {
        width: 10%;
        height: auto;
        object-fit: cover;
    }
</style>
