---

---

<div id="pictureBar"></div>

<style>
    #pictureBar {
        height: 10%;
        background: grey;
    }

    .pictureBarIMG {
    }
</style>

<script src="./dist/scripts/file_upload.js"
