---
import Layout from "../layouts/layout.astro";
---

<Layout>

    <h1>Tier List Maker</h1>

    <p class="info-text">
        This is a <i>hopefully</i> fancy Tier List Maker :)
    </p>
    
    <a href="/tierlistmaker">
    <button>
        Make a Tier List
    </button>
    </a>

    <style>
        h1 {
            color: #2668cb;
            font-weight: 450;
            font-size: 450%;
            margin: 5%;
        }
        
        .info-text {
        color: white;
        }

        button {
            padding: 1% 5%;
            border-radius: 15%;
            cursor: pointer;
            border: none;
            border-radius: 25px;

            margin-top: 5%;

            color: #cdcdcd;
            background: linear-gradient(to right,#2668cb, #0f346c);

            font-family: "Kanit";
        }

        button:hover {
            background: linear-gradient(to right, #f19ce3 0% 10%, #dd53af 40% 100%);
        }
    </style>
</Layout>