---
import Layout from "../layouts/layout.astro";
import Table from "../components/tierlist_table.astro";
import FileUpload from "../components/file_upload.astro";
import PictureBar from "../components/picture_bar.astro";
---

<Layout>
    <h1>Tier List Maker</h1>

    <Table />

    <PictureBar />

    <FileUpload />

    <style>
        h1 {
            color: #2668cb;
            font-weight: 450;
            font-size: 300%;
            margin: 2.5%;
        }
    </style>
</Layout>
