---
import Layout from "../layouts/layout.astro";
---

<Layout>
    <h1>
        Tier List Maker
    </h1>
    
    <style>
        h1 {
            color: #2668cb;
            font-weight: 450;
            font-size: 300%;
            margin: 2.5%;
        }   
    </style>
</Layout>


